@media all and (max-width: 1200px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }
  .menu ul li a {
    padding: 1rem 1.3rem;
  }
}
@media all and (min-width: 991px){
  .menu{
    display: flex !important;

  }
}
@media all and (max-width: 990px) {
  .header-top{
    position: relative;
  }
  .menu {
    display: none;
    position: absolute;
    width: 100%;
    top: 6rem;
    left: 0;
    background-image: -webkit-linear-gradient( 0deg, rgb(33, 27, 25) 0%, rgb(78, 52, 39) 100% );
    z-index: 1;
  }
  .menu ul {
    flex-direction: column;
    align-items: center;
    padding: 5rem 0;
  }
  .menu ul li a {
    font-size: 2rem;
  }
  .menu-icon {
    display: inline-block;
    border: 2px solid #fff;
    padding: 5px 9px;
    font-size: 22px !important;
    border-radius: 3px;
  }
  .menu-icon:hover {
    background: #998675;
    color: #fff !important;
  }
  .single-partnar img {
    max-width: 140px;
  }
  /*Footer Area*/
  .footer-top {
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 3rem;
  }
  .footer-copyright-content {
    margin: 1rem auto;
  }
  .dribble-widget a img {
    height: 150px;
  }
}

@media all and (max-width: 767px) {
  h1 {
    font-size: 4rem;
  }
  h3 {
    font-size: 3rem;
  }
  .baner-content p {
    width: 85%;
  }
  .next-prev-btn a img {
    height: 40px;
  }
  .baner-content {
    padding: 100px 0 150px 0;
  }
  .next-prev-btn a:first-child {
    left: 1rem;
  }
  .next-prev-btn a:last-child {
    right: 1rem;
  }
  /*Service Section*/
  .service {
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 5rem;
  }
  .service-section {
    padding: 6rem 0;
  }
  .service-box h2 {
    font-size: 2.5rem;
  }
  /* Features Aria */
  .fetures-content h2 {
    padding-top: 60px;
    font-size: 2.7rem;
  }
  /* Hero aria */
  .hero-part {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  .hero-content {
    margin-bottom: 3rem;
  }
  .hero-content h2 {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
  /* Project Section */
  .project-tabs ul {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .project-tabs ul li {
    margin: 0 0.5rem;
    padding: 1rem 1.5rem;
    margin-bottom: 2rem;
  }

  .image-section {
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
  }
  /*Exellent Section*/
  .excelent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .excelent-content {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-bottom: 3rem;
  }
  .excelent-content,
  .excelent-img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .excelent-content ul {
    margin-left: 2rem;
  }
  /*Fun Fact Section*/
  .counter-aria {
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 6rem;
  }
  .counter-aria .counter-items:last-child {
    -ms-grid-column: span 2;
    grid-column: span 2;
  }
  /* Recent Posts Section*/
  .posts {
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 3rem;
  }
  .posts .single-post:last-child {
    -ms-grid-column: span 2;
    grid-column: span 2;
    max-width: 420px;
    margin: auto;
  }
  .partnar-aria {
    padding: 8rem 0;
  }
  .partnar {
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 3rem;
  }
  .footer-copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-copyright-content:first-child {
    margin-bottom: 1.5rem;
  }
  .footer-copyright-content ul {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .footer-copyright-content ul li {
    line-height: 2rem;
  }
}

@media all and (max-width: 575px) {
  .image-section {
    -ms-grid-columns: (1fr) [1];
    grid-template-columns: repeat(1, 1fr);
    margin: 2rem;
  }
  .video-area {
    padding: 10rem 0;
  }
  /* Recent post aria */
  .posts {
    -ms-grid-columns: (1fr) [1];
    grid-template-columns: repeat(1, 1fr);
  }
  .posts .single-post:last-child {
    -ms-grid-column: span 1;
    grid-column: span 1;
    max-width: 100%;
  }
  /*Footer Area*/
  .footer-top {
    -ms-grid-columns: (1fr) [1];
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 3rem;
  }

  .footer-logo {
    margin-top: 0;
  }
}

@media all and (max-width: 480px) {
  .logo img {
    height: 44px;
  }
  h1 {
    font-size: 2.8rem;
  }
  .baner-content h2 {
    font-size: 2.3rem;
  }
  .banner-content {
    padding: 80px 0 80px 0;
  }

  /*Service Section*/
  .service {
    -ms-grid-columns: (1fr) [1];
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 5rem;
  }
  .excelent-img img {
    height: auto;
    width: 100%;
  }
 
}
