/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Raleway:wght@300;400;500;600;700;800&display=swap");

/* font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif; */

/***** Global Css aria start *****/
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
h1 {
  font-size: 50px;
  font-size: 50px;
  font-size: 5rem;
  font-weight: 800;
}
h2 {
  font-size: 30px;
  font-size: 30px;
  font-size: 3rem;
  font-weight: 500;
}
p {
  font-size: 16px;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 25px;
  line-height: 25px;
  line-height: 2.5rem;
  font-family: "Montserrat", sans-serif;
}
ul {
  padding: 0;
  list-style: none;
}
a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
}
img {
  display: block;
}
.container {
  max-width: 1200px;
  max-width: 1200px;
  max-width: 120rem;
  width: 100%;
  margin: auto;
}
/* Button Design start */
.btn {
  border-radius: 0.3rem;
  background-color: #998675;
  box-shadow: 0 0.5rem 0rem #736357;
  display: inline-block;
  padding: 16px 35px;
  padding: 16px 35px;
  padding: 1.6rem 3.5rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 16px;
  font-size: 16px;
  font-size: 1.6rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.btn:hover {
  background-color: #736357;
}
/* Button Design end */

.hero {
  padding: 50px 0;
  background-image: -webkit-linear-gradient(
    0deg,
    rgb(33, 27, 25) 0%,
    rgb(78, 52, 39) 100%
  );
  background-image: -ms-linear-gradient(
    0deg,
    rgb(33, 27, 25) 0%,
    rgb(78, 52, 39) 100%
  );
}

.section-padding {
  padding: 70px 0;
}

.text-center {
  text-align: center;
}
/****** Global Css aria end ******/
.header-aria {
  background: url(../images/background_bg.jpg) no-repeat scroll center center /
    cover;
  padding: 40px 0;
  padding: 40px 0;
  padding: 4rem 0;
  position: relative;
}
.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header-top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.menu ul li a {
  padding: 0 15px;
  padding: 0 1.5rem;
  font-weight: 500;
  font-size: 14px;
  font-size: 14px;
  font-size: 1.4rem;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.menu-icons {
  margin-left: 15px;
  margin-left: 15px;
  margin-left: 1.5rem;
}
.menu-icons a {
  margin-left: 25px;
  margin-left: 25px;
  margin-left: 2.5rem;
  font-size: 18px;
  font-size: 18px;
  font-size: 1.8rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.menu-icons a:hover {
  color: #c7b299;
}
.menu-icon {
  display: none;
}
.menu ul li a:hover,
.menu ul li a.active,
.menu-icon a:hover {
  color: #c7b299;
}

/*Banner aria css start*/

.baner-content {
  padding: 170px 0 250px 0;
  text-align: center;
}
.baner-content h1 {
  padding-top: 5px;
  padding-top: 5px;
  padding-top: 0.5rem;
  padding-bottom: 15px;
  padding-bottom: 15px;
  padding-bottom: 1.5rem;
  color: #fff;
}
.baner-content h2 {
  font-size: 36px;
  font-size: 36px;
  font-size: 3.6rem;
  color: #fff;
}
.baner-content p {
  max-width: 580px;
  margin: auto;
  color: #fff;
}
.baner-content a {
  margin-top: 50px;
  margin-top: 50px;
  margin-top: 5rem;
}
.next-prev-btn a:first-child {
  position: absolute;
  top: 50%;
  left: 50px;
  left: 50px;
  left: 5rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.next-prev-btn a:last-child {
  position: absolute;
  top: 50%;
  right: 50px;
  right: 50px;
  right: 5rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.dots span {
  width: 10px;
  width: 10px;
  width: 1rem;
  height: 10px;
  height: 10px;
  height: 1rem;
  border: 1px solid transparent;
  border: 1px solid transparent;
  border: 0.1rem solid transparent;
  border-radius: 50%;
  display: inline-block;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 5px;
  margin: 0 5px;
  margin: 0 0.5rem;
}
.dots span.active {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border: 2px solid rgba(255, 255, 255, 0.7);
  border: 0.2rem solid rgba(255, 255, 255, 0.7);
}
/*Banner aria css end*/

/* Services aria css start */
.service-section {
  padding: 80px 0;
  padding: 80px 0;
  padding: 8rem 0;
}
.service {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [4];
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  grid-column-gap: 2rem;
}
.service-box {
  position: relative;
  padding-bottom: 30px;
  padding-bottom: 30px;
  padding-bottom: 3rem;
  cursor: pointer;
}
.service-box:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 0;
  height: 3px;
  height: 3px;
  height: 0.3rem;
  width: 70px;
  width: 70px;
  width: 7rem;
  background: #8c8c8c;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.service-box i {
  font-size: 35px;
  font-size: 35px;
  font-size: 3.5rem;
  color: #555555;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.service-box a {
  display: block;
  color: #555555;
}
.service-box h2 a {
  margin: 25px 0 20px;
  margin: 25px 0 20px;
  margin: 2.5rem 0 2rem;
  font-size: 22px;
  font-size: 22px;
  font-size: 2.2rem;
  font-weight: 600;
}
.service-box p {
  color: #8c8c8c;
}
.service-box:hover i,
.service-box:hover h2 a {
  color: #c7b299;
}
.service-box:hover:after {
  background: #c7b299;
}
/* Services aria css end */

/* Features Aria Css aria start */
.fetures-aria {
  background: #fbfaf8;
}
.fetures-content {
  text-align: center;
}
.fetures-content h2 {
  padding-top: 80px;
  color: #555555;
  font-weight: 600;
}
.fetures-content p {
  max-width: 730px;
  max-width: 730px;
  max-width: 73rem;
  margin: auto;
  color: #8c8c8c;
  padding: 25px 30px;
  padding: 25px 30px;
  padding: 2.5rem 3rem;
}
.fetures-content img {
  max-width: 100%;
}
/* Features Aria Css aria end */

/* Hero css aria start */
.hero-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.hero-content h2 {
  font-size: 28px;
  font-size: 28px;
  font-size: 2.8rem;
  font-weight: 400;
  color: #fff;
}
.hero-content h2 span {
  color: #c7b299;
  margin-bottom: 5px;
  margin-bottom: 5px;
  margin-bottom: 0.5rem;
}
.hero-content p {
  color: #615855;
}
/* Hero css aria end */

/* Project Section css aria start */
.project-tittle {
  text-align: center;
}
.project-tittle h2 {
  font-weight: 600;
  color: #555555;
}
.project-tittle p {
  color: #555555;
  max-width: 780px;
  margin: auto;
  padding-top: 25px;
  padding-bottom: 30px;
}

.project-tabs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.project-tabs ul li {
  padding: 10px 20px;
  border: 1px solid #ddd;
  color: #8c8c8c;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 0.3rem;
}
.project-tabs .active,
.project-tabs ul li:hover {
  background: #998675;
  color: #fff;
  border-radius: 0.3rem;
}
.single-item {
  cursor: pointer;
}

/* Image section */
.image-item {
  height: 240px;
  position: relative;
  overflow: hidden;
}
.img-overley {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: -100%;
  background: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.img-overley a {
  color: #fff;
  padding: 0 10px;
  font-size: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.img-overley a:hover {
  color: #c7b299;
}
.image-section {
  margin: 35px 0;
  margin: 35px 0;
  margin: 3.5rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [3];
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}

.image-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.img-content {
  padding: 30px;
  padding: 30px;
  padding: 3rem;
  box-sizing: border-box;
  background: #fbfaf8;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.img-content:before {
  content: "";
  position: absolute;
  height: 30px;
  height: 30px;
  height: 3rem;
  width: 30px;
  width: 30px;
  width: 3rem;
  background: #fbfaf8;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -15px;
  left: 40px;
  left: 40px;
  left: 4rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.img-content h2 a {
  color: #c7b299;
  font-size: 20px;
  font-size: 20px;
  font-size: 2rem;
  margin-bottom: 7px;
  margin-bottom: 7px;
  margin-bottom: 0.7rem;
  display: block;
}
.img-content a {
  color: #beb8b8;
  font-size: 14px;
  font-size: 14px;
  font-size: 1.4rem;
}
.img-content a:hover {
  color: #c7b299;
}
.single-item:hover .img-overley {
  top: 0%;
  visibility: visible;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.single-item:hover .img-content {
  background: #362f2d;
}
.single-item:hover .img-content:before {
  background: #362f2d;
}
.single-item:hover .img-content h2 a {
  color: #fff;
}
.single-item:hover .img-content a {
  color: #c7b299;
}
/* Project Section css aria end */

/* Video css aria start */
.video-section {
  background: url(../images/video_bg.jpg) no-repeat scroll center center / cover;
  padding-top: 120px;
  padding-bottom: 100px;
  position: relative;
  z-index: 1;
}

.video-section:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
}
.video a {
  font-size: 50px;
  background: #5e6165;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: inline-block;
  margin-bottom: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.video a:hover {
  color: #c7b299;
}
.video h2,
.video p {
  color: #fff;
}
.video p {
  max-width: 570px;
  padding-top: 5px;
}
/* Video css aria end */

/* Excelent css aria start */
.excelent-aria {
  padding-top: 70px;
  background: #fbfaf8;
}
.excelent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.excelent-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  max-width: 40%;
}
.excelent-img img {
  height: 550px;
  width: auto;
  margin: auto;
}
.excelent-content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  max-width: 60%;
}
.excelent-content h2 {
  font-weight: 600;
  color: #555555;
  margin-bottom: 35px;
}
.excelent-content p,
.excelent-content ul li {
  color: #8c8c8c;
  margin-bottom: 25px;
  margin-bottom: 25px;
  margin-bottom: 2.5rem;
}
.excelent-content ul {
  margin-left: 50px;
  margin-left: 50px;
  margin-left: 5rem;
}
.excelent-content ul li {
  margin-bottom: 15px;
  margin-bottom: 15px;
  margin-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.excelent-content ul li i {
  color: #c7b299;
  margin-right: 20px;
  margin-right: 20px;
  margin-right: 2rem;
  font-size: 18px;
  font-size: 18px;
  font-size: 1.8rem;
}

/* Excelent css aria end */

/* Counter section css aria  start */
.counter-aria {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [5];
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
}
.counter-items {
  position: relative;
}
.counter-items :after {
  content: "";
  position: absolute;
  bottom: -20px;
  bottom: -20px;
  bottom: -2rem;
  height: 2px;
  width: 35px;
  left: 0;
  right: 0;
  margin: auto;
  background: #fff;
}
.counter-items i {
  color: #fff;
  font-size: 50px;
  font-size: 5rem;
  margin-bottom: 15px;
  margin-bottom: 15px;
  margin-bottom: 1.5rem;
}
.counter-items h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 40px;
  font-size: 40px;
  font-size: 4rem;
  margin-bottom: 5px;
  margin-bottom: 5px;
  margin-bottom: 0.5rem;
  color: #fff;
}
.counter-items p {
  color: #c7b299;
  text-transform: uppercase;
  font-size: 14px;
  font-size: 14px;
  font-size: 1.4rem;
}
/* Counter section css aria  end */

/* recent post css aria start */
.recent-posts {
  padding: 70px 0;
  padding: 70px 0;
  padding: 7rem 0;
}
/* Single post start */
.posts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [3];
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3rem;
  margin: 10px 0 30px 0;
  margin: 10px 0 30px 0;
  margin: 1rem 0 3rem 0;
}
.post-img {
  height: 220px;
  position: relative;
  overflow: hidden;
}
.post-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.post-img:after {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: 1s;
  transition: 1s;
}
.post-img p {
  position: absolute;
  left: 20px;
  left: 20px;
  left: 2rem;
  top: 20px;
  top: 20px;
  top: 2rem;
  background: #363636;
  color: #fff;
  padding-top: 5px;
  padding-top: 5px;
  padding-top: 0.5rem;
  font-size: 22px;
  font-size: 22px;
  font-size: 2.2rem;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  border-radius: 0.5rem;
  z-index: 1;
}
.post-img span {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
  font-size: 13px;
  font-size: 1.3rem;
  background: #252525;
  padding: 5px 10px;
  padding: 5px 10px;
  padding: 0.5rem 1rem;
  margin-top: 5px;
  margin-top: 5px;
  margin-top: 0.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
}
.post-content {
  padding: 25px;
  padding: 25px;
  padding: 2.5rem;
  box-sizing: border-box;
  background: #ffffff;
  border: 2px solid #f8f8f8;
  border-top: none;
  -webkit-transition: 1s;
  transition: 1s;
}
.post-content h3 {
  margin-bottom: 10px;
  margin-bottom: 10px;
  margin-bottom: 1rem;
  line-height: 20px;
  line-height: 20px;
  line-height: 2rem;
}
.post-content h3 a {
  color: #555555;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 20px;
  font-size: 20px;
  font-size: 2rem;
}
.post-content p {
  color: #8c8c8c;
  margin-bottom: 15px;
  margin-bottom: 15px;
  margin-bottom: 1.5rem;
  font-size: 14px;
}
.post-content a {
  color: #c7b299;
}
.post-content a i {
  padding-left: 5px;
  padding-left: 5px;
  padding-left: 0.5rem;
}
.single-post {
  cursor: pointer;
}
.single-post:hover .post-img:after {
  top: 0;
}
.single-post:hover .post-content {
  background: #362f2d;
  border-color: #362f2d;
}
.single-post:hover .post-content a {
  color: #c7b299;
}
.single-post:hover .post-content p {
  color: #fff;
}
.single-post:hover .post-img p {
  background: #c7b299;
}
.single-post:hover .post-img span {
  background: #a48d72;
}
/* Posts Contorls aria start */
.posts-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.posts-control a {
  color: #8a8a8a;
  font-size: 22px;
  margin: 0 7px;
}
.posts-control a i {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.posts-control a :hover {
  color: #cebca6;
}
/* recent post css aria end */

/* Partnar aria start */
.partnar-aria {
  background: url(../images/partner-bg.jpg) no-repeat center center / cover;
  padding: 130px 0;
  padding: 130px 0;
  padding: 13rem 0;
  position: relative;
  z-index: 1;
}
.partnar-aria:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.6);
}
.partnar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-row-align: center;
  align-items: center;
}
.single-partnar img {
  max-width: 215px;
  margin: auto;
  height: auto;
}
/* Partnar aria end */

/* Footer aria css start */
.footer-aria {
  background: #191919;
  color: #fff;
}
.footer-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [4];
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 3rem;
}
.footer-logo {
  margin-bottom: 25px;
  margin-bottom: 25px;
  margin-bottom: 2.5rem;
  display: block;
  margin-top: -25px;
  margin-top: -25px;
  margin-top: -2.5rem;
}
.footer-singel-items p {
  font-size: 14px;
  font-size: 14px;
  font-size: 1.4rem;
  color: #555555;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.read-more-btn {
  color: #fff;
  margin-top: 20px;
  margin-top: 20px;
  margin-top: 2rem;
  display: inline-block;
}
.footer-singel-items h2 {
  margin-bottom: 25px;
  margin-bottom: 25px;
  margin-bottom: 2.5rem;
  font-size: 24px;
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: 800;
}
.single-footer-post:first-child {
  padding-top: 0;
}
.single-footer-post:last-child {
  border-bottom: none;
}
.single-footer-post {
  padding: 15px 0;
  padding: 15px 0;
  padding: 1.5rem 0;
  border-bottom: 1px solid #dddddd52;
}
.single-footer-post:hover p.date {
  color: #fff;
}
.single-footer-post:hover p a {
  color: #c7b299;
}
.single-footer-post p.date,
.single-footer-post span {
  font-size: 12px;
  font-size: 12px;
  font-size: 1.2rem;
  color: #363636;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.single-footer-post a {
  color: #555555;
}
.twitter-post .single-footer-post p a {
  color: #00bff3;
}
.single-footer-post p a.link {
  color: #959595;
}
.dribble-widget {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [2];
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
}
.dribble-widget a img {
  max-width: 100%;
  width: 100%;
  height: 130px;
  -o-object-fit: cover;
  object-fit: cover;
}
/* Footer aria css end */

/* Footer Copyright css aria start */
.footer-copyright-area {
  padding: 40px 0;
  padding: 40px 0;
  padding: 4rem 0;
  background: #111111;
}
.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer-copyright-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-copyright-content ul li {
  color: #555555;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-size: 13px;
  font-size: 1.3rem;
}
.footer-copyright-content ul li a {
  color: #959595;
  display: inline-block;
  margin: 0 10px;
  margin: 0 10px;
  margin: 0 1rem;
}
.footer-copyright-content ul li a:hover {
  color: #c7b299;
}
.footer-copyright-content ul li:not(:last-child):after {
  content: "|";
  color: #fffdfd96;
}
.footer-copyright-content:last-child ul li:last-child {
  margin-left: 10px;
  margin-left: 10px;
  margin-left: 1rem;
}

/* Footer Copyright css aria end */
